/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


 body {
	background: #E9E9E9;
}

nav {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	.navbar-brand {
		a {
			color: #BD1E23;
			font-weight: bold;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

#pins {
  margin: 0 auto;
  width: 100%;
}

.grid {
	width: 98%; 
	margin: 50px auto; 

	-moz-column-width: 220px; 
	-webkit-column-width: 220px; 
	column-width: 220px; 

	-moz-column-count: 3; 
	-webkit-column-count: 3;
	column-count: 3; 
	
	.grid-item{ 
		display: inline-block;
		box-shadow: 0 1px 3px rgba(0,0,0, .12), 0 1px 2px rgba(0,0,0, .24);
		padding: 10px; 
	}
}


#edit_page {
	.current_image {
		img {
			display: block;
			margin: 20px 0;
		}
	}
}

#pin_show {
	.pin_image {
		img {
			max-width: 50%;
			width: 50%;
			display: block;
			margin: 0 auto;
		}
	}
	.panel-body {
		padding: 35px;
		.title {
			margin: 0 0 10px 0;
			text-align: center;
		}
		.description {
			color: #868686;
			line-height: 1.75;
			margin: 0;
		}
	}
}

textarea {
	min-height: 250px;
}
