// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
	color: rgba(255, 0, 0, 0.75) + rgba(0, 255, 0, 0.75);
}

.pin_image {
	height: 50%;
	width: 25%;
}